* {
  box-sizing: border-box;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0b8793, #360033);
  background-size: 240% 140%;
  animation: gradient-animation 40s ease infinite;
  min-height: 1000vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.keyboard {
  text-align: center;
  position: fixed;
  left: 1%;
  bottom: 1%;
  transition: 0.7s;
  user-select: none;
  width: 98%;
  height: fit-content;
  padding: 5px 0px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #134e5e,
    #71b280
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-color: #004134 !important; */

  /* Shadow */
  -webkit-box-shadow: 10px 7px 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 7px 7px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 7px 7px 1px rgba(0, 0, 0, 0.75);
}
.keyboard-hidden {
  bottom: -100% !important;
}

.keys {
  text-align: center;
}
.key {
  /* text-align: center; */
  position: relative;
  height: 45px;
  width: 6%;
  min-width: 90px;
  padding: 0;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1.05rem;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}
.key:active {
  background-color: rgba(255, 255, 255, 0.12);
}
.key-wide {
  width: 12%;
}
.key-extra-wide {
  width: 36%;
  max-width: 500px;
}
/* .key-activatable {
} */
.key-activatable::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.key-active::after {
  background-color: #08ff00;
}
.key-dark {
  background-color: rgba(0, 0, 0, 0.2);
}
textarea {
  width: 90%;
  height: 200px;
  text-align: center;
  font-size: 40px;
  padding: 10px 20px;
  align-self: flex-start;
  margin: 0 auto;
  margin-top: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.6s;
  &:focus {
    outline: none;
    height: 250px;
  }
  background: #141e30;
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(255 255 255 / 50%);
}
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c0c0c0;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #004134;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #002a21;
}